<div class="provider">
    <div class="row border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Provider</h2>
        </div>
    </div>
    <div class="row m-t dashboard-header white-bg">
        <div class="col-xs-6">
            <div class="form-group row">
                <div class="col-xs-6">
                    <input
                        type="search"
                        placeholder="Search by Actor Name"
                        ng-model="providerCtrl.searchText"
                        class="form-control" />
                </div>
                <div ng-class="{'disabled': providerCtrl.searchText.length < 5}" class="search-icon" ng-click="providerCtrl.getData()">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
        </div>
        <simple-table 
            class="col-xs-12"
            table-info-key="provider"
            row-selection-array="providerCtrl.selectedRows"
            table-data="providerCtrl.tableData"
            enable-row-selection="true"
            on-select="providerCtrl.updateFavorites"
            is-all-selected="providerCtrl.isAllSelected">
        </simple-table>
    </div>
</div>
