.wrapper {
  margin-top: 20px;
}

body {
  background: white;
}

.site-link {
  color: #1a76b3;
}
.site-link:hover {
  color: #1a76b3;
  font-weight: bold;
}

.disabled {
  opacity: .3;
  pointer-events: none;
}

.clear-padding {
  padding: 0;
}

.align-center {
  text-align: center;
}

.md-skin .navbar-fixed-top,
.md-skin .navbar-static-top {
  background-color: #1a76b3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.fixed-nav #wrapper {
  margin-top: 0;
  background: #727578;
}

.btn-primary {
  background-color: #1a76b3;
  border-color: black;
  color: #FFFFFF;
}

.btn-primary.btn-outline {
  color: black;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #27a9ff;
  border-color: black;
  color: #FFFFFF;
}



.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #1a76b3;
  border-color: black;
}
