.side-bar-navigation .nav > li > a {
    color: #000;
}
.top-navigation {
    color: white;
}

@media (max-width: 1100px) {
    .simple-table .table > caption + thead > tr:first-child > td,
    .simple-table .table > caption + thead > tr:first-child > th,
    .simple-table .table > colgroup + thead > tr:first-child > td,
    .simple-table .table > colgroup + thead > tr:first-child > th,
    .simple-table .table > thead:first-child > tr:first-child > td,
    .simple-table .table > thead:first-child > tr:first-child > th {
        font-size: 10px;
    }
    .simple-table table.table-bordered.dataTable tbody th,
    .simple-table table.table-bordered.dataTable tbody td {
        font-size: 10px;
    }
}

.simple-table .row-checkbox {
    text-align: center;
}

.simple-table .table-row.selected {
    background-color: #27a9ff;
}

.simple-table .table-row td {
    cursor: pointer;
}

.simple-table td:hover {
    cursor: pointer;
}

.simple-table .special-column {
    color: green;
}

.simple-table .pagination li a {
    outline: none;
    background-color: #fff;
}

.simple-table .pagination li.active a {
    background-color: #aaa;
}

.top-navigation .navbar-fixed-top {
    height: 60px;
}

.top-navigation .navbar-left {
    margin-top: 20px;
    margin-left: 25px;
    font-weight: bold;
}

.top-navigation .logout {
    top: 5px;
    position: absolute;
    right: 50px;
    cursor: pointer;
}
