<div class="favorites">
    <div class="row border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>Favorites</h2>
        </div>
    </div>
    <div class="row m-t dashboard-header white-bg">
        <simple-table 
            class="col-xs-12"
            table-info-key="favorites"
            enable-comments="true"
            table-data="favoritesCtrl.tableData">
        </simple-table>
    </div>
</div>