<div class="row border-bottom top-navigation">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <ul class="nav navbar-top-links navbar-left">
            <li>
                <span class="m-r-sm">Netflix Search</span>
            </li>
        </ul>
    </nav>
</div>