<div id="wrapper" class="md-skin">
    <side-bar-navigation></side-bar-navigation>
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">
         <top-navigation-bar></top-navigation-bar>
        <div ui-view></div>
    </div>
</div>
