<div class="simple-table">
    <table 
        datatable="ng"
        dt-options="dtOptions" 
        dt-instance="getInstance"
        class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th ng-if="enableRowSelection" class="checkbox-select">
                    <input 
                    type="checkbox" 
                    name="{{row[rowSelectionId]}}" 
                    ng-model="table.isAllSelected"
                    ng-change="selectAll()" />
                </th>
                <th 
                    ng-repeat="col in table.headers track by $index" 
                    ng-bind="::col.displayValue">
                </th>
                <th ng-if="enableComments">
                    Comments
                </th>
            </tr>
        </thead>
        <tbody>
            <tr 
                ng-repeat="row in table.data track by $index" 
                class="table-row" 
                ng-class="{'selected': row.selected}">
                <td ng-if="enableRowSelection">
                    <input 
                        type="checkbox" 
                        name="{{row.rowSelectionId}}" 
                        ng-model="row.selected"
                        ng-change="selectRow(row)" />
                </td>
                <td 
                    ng-repeat="col in table.headers track by $index"
                    ng-bind="row[col.value]">
                </td>
                <td ng-if="enableComments">
                    <input 
                        type="text" 
                        ng-model="row.comment" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
