<nav class="side-bar-navigation navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <li ng-class="{'active': activeState == 'dashboard.provider'}">
                    <a ui-sref="dashboard.provider">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label">Provider</span>
                    </a>
                </li>
                <li ng-class="{'active': activeState == 'dashboard.favorites'}">
                    <a ui-sref="dashboard.favorites">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label">Favorites</span>
                    </a>
                </li>
        </ul>
    </div>
</nav>
